body{
    margin:0;
    padding: 0;
}

/* .App {
    padding-inline: 15px;
} */

.container{
    padding-inline:15px;
    max-width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
}

.menu_list ul , .header_icons  , .menu_list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}


/***footer**/

.footer ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}